<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
<div>
    <h2 >Announcement List</h2>
    <tr>
        <div align = "left" >
            <h3><a  th:href="@{'/newAnnouncement'}">Add new</a></h3>
        </div>

    </tr>
    <tr>

        <div class="col-sm-5" align = "center">
            <div class="panel-body" align = "center" >
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>Announcement ID</th>
                        <th>Announcement Name</th>
                        <th>Posted By</th>
                        <th>Posted Date</th>
                        <th>Description</th>>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  th:each="announcement : ${listannouncement }">
                        <td th:text="${announcement.id}">Announcement ID</td>
                        <td th:text="${announcement.announcementName}">Announcement Name</td>
                        <td th:text="${announcement.postedBy}">Posted By</td>
                        <td th:text="${announcement.postedDate}">Posted Date</td>
                        <td th:text="${announcement.description}">Description</td>
                        <td>
                            <a th:href="@{'/editAnnouncement/' + ${announcement.id}}">Edit</a>
                        </td>
                        <td>
                            <a th:href="@{'/deleteAnnouncement/' + ${announcement.id}}">Delete</a>
                        </td>
                    </tr>

                    </tbody>
                </table>

            </div>

        </div>

    </tr>

    </tbody>
    </table>
</div>
</div>
</body>
</html>